body{
    /* background: greenyellow; */
}


.pagination-controls {
    text-align: center;
}

.pagination-controls a {
    margin: 5px;
    text-decoration: none;
}

.current{
    font-size: x-large;
    color: black;
}

.fas { 
    margin-right: 10px;
}

.add-area {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
}